<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="core" connectionString="Data Source=.\sqlexpress;Database=SitecoreTemplate.Core;user id=SitecoreTemplate.Admin;password=!QA2ws3ed"/>
  <add name="master" connectionString="Data Source=.\sqlexpress;Database=SitecoreTemplate.Master;user id=SitecoreTemplate.Admin;password=!QA2ws3ed"/>
  <add name="web" connectionString="Data Source=.\sqlexpress;Database=SitecoreTemplate.Web;user id=SitecoreTemplate.Admin;password=!QA2ws3ed"/>
</connectionStrings>
