<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="core" connectionString="Data Source=pc-nep\sqlexpress10;Database=Nbt.Core;user id=Nbt.Admin;password=!QA2ws3ed"/>
  <add name="master" connectionString="Data Source=pc-nep\sqlexpress10;Database=Nbt.Master;user id=Nbt.Admin;password=!QA2ws3ed"/>
  <add name="web" connectionString="Data Source=pc-nep\sqlexpress10;Database=Nbt.Web;user id=Nbt.Admin;password=!QA2ws3ed"/>
</connectionStrings>
