<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Sitecore Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/bundles/css")
</head>
<body>
    <header>
        <h1>Sitecore Template</h1>
    </header>
    <section role="main">
        @Html.Sitecore().Placeholder("main")
    </section>
    <footer>© 2013 Creuna</footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
</body>
</html>