<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="Lab409" value="http://nuget.lab409.com/nuget/" />
  </packageSources>
  <packageSourceCredentials>
    <Lab409>
      <add key="Username" value="creuna" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAIfwINEjvqU+xV+dZ7u3c5AAAAAACAAAAAAADZgAAwAAAABAAAAAWw05meO5Kf3YGXksv2lMVAAAAAASAAACgAAAAEAAAAAoi+uiVVYchR4TLSac2VRsQAAAABX/0aSih7flGggO1kdS9exQAAAABYmXbUpkN/mmtmyTCJGIcYcng2g==" />
    </Lab409>
  </packageSourceCredentials>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>