<?xml version="1.0"?>
<configuration>
  <sitecore>
    <AntiCsrf cookieName="__CSRFCOOKIE" formFieldName="__CSRFTOKEN" detectionResult="RaiseException" errorPage="" enabled="true">
      <rules>
        <rule name="WFFM">
          <urlPrefix>/sitecore/shell</urlPrefix>
          <ignore wildcard="/sitecore/shell/Applications/Modules/Web Forms for Marketers/Form Reports*\?*Cart_*_Items_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Sitecore.Forms.Shell.UI.Dialogs.LookupRecords.aspx*"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Sitecore.Forms.Shell.UI.Dialogs.ListItemsEditor.aspx*"/>
        </rule>
        <rule name="shell">
          <urlPrefix>/sitecore/shell</urlPrefix>
          <ignore contains="Content Manager/Execute"/>
          <ignore contains="FlashUpload/Advanced/UploadTarget"/>
          <ignore contains="FlashUpload/Attach/AttachTarget"/>
          <ignore contains="WebEdit/Palette"/>
          <ignore contains="WebEdit/WebEditRibbon"/>          
          <ignore contains="InstantSearch"/>
          <ignore contains="WordOCX/Load"/>
          <ignore wildcard="/sitecore/shell/*Applications/Archives/Archive*\?*Cart_*_Items_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/*Applications/Archives/Recycle Bin*\?*Cart_*_Items_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Installer.AddSecuritySourceDialog*\?*Cart_*_SelectAccounts_*_Users_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Sitecore.Shell.Applications.Security.SelectAccount*\?*Cart_*_Roles_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Sitecore.Shell.Applications.Security.SelectAccount*\?*Cart_*_Users_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/*Applications/Security/User Manager*\?*Cart_Users_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Sitecore.Shell.Applications.Security.SelectRoles*\?*Cart_*_Roles_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Sitecore.Shell.Applications.Security.EditManagedDomains*\?*Cart_*_Domains_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/*Applications/Security/Role Manager*\?*Cart_Roles_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Sitecore.Shell.Applications.Security.RoleManager.ViewMembers*\?*Cart_*_Users_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Sitecore.Shell.Applications.Security.RoleManager.ViewParentRoles*\?*Cart_*_Users_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/*Applications/Security/Domain Manager*\?*Cart_Domains_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Sitecore.Shell.Applications.WebEdit.Dialogs.LockedItems*\?*Cart_*_Items_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/Applications/Analytics/ReportRunner/Report*\?*rid"/>
          <ignore wildcard="/sitecore/shell/default*\?*xmlcontrol=Gallery.Components*scWebEditRibbon"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Sitecore.Shell.Applications.MarketingAutomation.Dialogs.SelectStateVisitor.aspx*\?*Cart_*_Visitors_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Sitecore.Shell.Applications.MarketingAutomation.Dialogs.ActionEditors.AddToVisitProfile.aspx"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Sitecore.Shell.Applications.MarketingAutomation.Dialogs.ActionEditors.SubtractFromVisitProfile.aspx"/>
          <ignore wildcard="/sitecore/shell/default*\?*xmlcontrol=CopyVisitorToAnotherPlan*"/>
          <ignore wildcard="/sitecore/shell/default*\?*xmlcontrol=MoveVisitorToAnotherState*"/>
        </rule>
      </rules>
    </AntiCsrf>
  </sitecore>
</configuration>