<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- 
				Maximum dictionary entry cache size. Calculate like 5MB = 50000 dictionary entries.
			-->
      <setting name="Localization.MaxCacheSize" value="5MB"/>

      <!-- 
				By default you can use XSLT control with "|" formatParams delimiter.
        But you can override it if you need. 
        example:
        <sc:translate 
              key="'TranslationFolder/NestedFolder/TranslationKey'" 
              defaultValue="'Default value with params {0}, {1}'" 
              formatParams="'first param|second param'">
        </sc:translate>
			-->
      <setting name="Localization.FormatParamsDelimiter" value="|"/>

      <!-- 
          Indicates whether extra logging is enabled. 
          Set it to 'True' for debug purposes. 'False' by default.
      -->
      <setting name="Localization.EnableExtraLogging" value="False"/>

      <!-- 
          You can provide your custom global dictionary folder.
          Default value: /sitecore/system/Dictionary
      -->
      <setting name="Localization.GlobalDictionaryFolder" value="/sitecore/system/Dictionary"/>

      <!-- 
          Determines whether to create items with default values in case dictionary item doesn't exist. 
          Default value : "True"
      -->
      <setting name="Localization.CreateItemsWithDefaultValues" value="True"/>
    </settings>

    <!-- 
          If you need to have separate dictionary foplders for different websites in your multisite solution, 
          add settings for each website with name Localization.MySiteName.DictionaryFolder where MySiteName is tour site name in sitecore configuration.
      -->
    <!-- <setting name="Localization.MySiteName.DictionaryFolder" value="/sitecore/content/MySiteNameDictionaryFolder"/> -->

    <xslExtensions>
      <!-- 
          If your solution is already replaces implementation of standard sc Xslt extension, 
          please inherit your implementation from Sitecore.SharedSource.Localization.Domain.Xsl.LocalizationXslExtensions class.
          It is required for appropriate Sitecore.SharedSource.Localization module work.
      -->
      <extension type="Sitecore.Xml.Xsl.XslHelper, Sitecore.Kernel">
        <patch:attribute name="type">Sitecore.SharedSource.Localization.Domain.Xsl.LocalizationXslExtensions, Sitecore.SharedSource.Localization</patch:attribute>

      </extension>
    </xslExtensions>
    <xslControls>
      <control mode="on" tag="sc:translate" type="Sitecore.SharedSource.Localization.Domain.Xsl.Controls.LocalizationXslControl" assembly="Sitecore.SharedSource.Localization" />
    </xslControls>
  </sitecore>
</configuration>
